
Final Hand-in/tempovertime.png
JUNK/0dayvax.png
JUNK/assignment1-2.ipynb
JUNK/assignment1.ipynb
JUNK/assignment1.py
JUNK/combined_plot_with_labels.png
JUNK/E_Hazbolatow_assignment copy.ipynb
JUNK/E_Hazbolatow_assignment.ipynb
JUNK/effects_of_seasonality.png
JUNK/extinctionvsepi.png
JUNK/fourier.png
JUNK/output.png
JUNK/peak_infected_plot.png
JUNK/phasediagram.png
JUNK/school_fit.png
JUNK/SIRbase.png
